@import '../../colors.scss';
@import '../../common.scss';
@import '../../fonts.scss';

/*
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100%;
    

    span {
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        text-align: center;
        @include sourceSansPro(title);
    }

    .home-items {
        display: flex;
        justify-content: center;
    }
}
*/